<h3>Purchase Orders</h3>
<section class="purchase-orders">
  <div class="data-table-container">
    <app-data-filters
      [suppliers]="suppliers()"
      (filterChange)="onFilterChange($event)"
    ></app-data-filters>
    <app-data-table
      [data]="orders()"
      [columns]="columns"
      [totalItems]="totalItems()"
      [sortActive]="sortActive"
      [sortDirection]="sortDirection"
      (pageChange)="onPageChange($event)"
      (sortChange)="onSortChange($event)"
      (editRow)="onEditRow($event)"
    ></app-data-table>
  </div>
  <div class="form-container">
    <app-purchase-order-form
      [suppliers]="suppliers()"
      (addPO)="onAddPO($event)"
    ></app-purchase-order-form>
  </div>
</section>
